<div class="page-header">
  <h1>
    Ticket Details
    <% if user_signed_in? and current_user.is_admin %>
      <%= bootstrap_icon_link_to 'Delete', @ticket, "icon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
    <% end %>
    <% if user_signed_in? and current_user.is_admin %>
        <%= bootstrap_icon_link_to 'Edit', edit_ticket_path(@ticket), "icon-pencil icon-white", :class => "btn btn-primary" %>
    <% end %>
   </h1>
</div>

<table class="table table-striped table-bordered table-condensed">
  <tbody>
    <tr>
      <td class="top" width=150><b>Status:</b></td>
      <td><%= ticket_status_label @ticket.ticket_status.name %></td>
    </tr>
    <tr>
      <td class="top"><b>Category:</b></td>
      <td><%= @ticket.category.name %></td>
    </tr>
    <tr>
      <td class="top"><b>Ticket by:</b></td>
      <td><%= @ticket.user.name %></td>
    </tr>
    <tr>
      <td class="top"><b>Title:</b></td>
      <td><%= @ticket.title %></td>
    </tr>
    <tr>
      <td class="top"><b>Description:</b></td>
      <td><%= RedCloth.new(@ticket.description).to_html.html_safe %></td>
    </tr>
    <% if user_signed_in? and current_user.is_admin %>
      <% if @ticket.ticket_status.name.upcase == "OPEN" and @ticket.owner.to_s == "" %>
        <td> <%= form_tag :action => "own_it" do %>
             <%= submit_tag "Own it" %>
             <% end %>
        </td>
      <% elsif @ticket.owner.to_s != "" %>
        <td class="top"><b>Ticket Owner:</b></td>
        <td>
          <%= @ticket.owner %>
          <%= form_tag :action => "own_it" do %>
            <br>
            <%= submit_tag "Take over ownership", :class => "btn btn-primary"%>
          <% end %>
        </td>
      <% end %>
    <% end %>
    <% if user_signed_in? and not current_user.is_admin and @ticket.owner.to_s != "" %>
      <td class="top"><b>Ticket Owner:</b></td>
      <td><%=session[:curr_user] %></td>
    <% end %>
    <% if user_signed_in? and not current_user.is_admin and @ticket.owner.to_s == "" %>
      <td class="top"><b>Ticket Owner:</b></td>
      <td><%=  "No body is currently working on this ticket" %></td>
  <% end %>
  </tbody>
</table>
<div class="field">
  <% if @ticket.comments.count == 0 %>
    <%= link_to "No comments yet. Add comments to this ticket", "/comments/ticket_comments", :class => "btn" %>
  <% elsif @ticket.comments.count == 1 %>
    <%= link_to "1 comment to read. Click to View/Add more comments", "/comments/ticket_comments/", :class => "btn" %>
  <% else %>
    <%= link_to "#{@ticket.comments.count} comments to read. Click to View/Add more comments", "/comments/ticket_comments/", :class => "btn" %>
  <% end %>
</div>